<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="${basedir}/logs/internal-nlog.log">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- 框架日志  -->
		<target xsi:type="File" name="allfile" fileName="${basedir}/logs/nlog-all-${shortdate}.log"
				layout="[${longdate}] [${event-properties:item=EventId_Id}] [${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring}" />

		<!-- 应用程序日志 -->
		<target xsi:type="File" name="ownFile-web" fileName="${basedir}/logs/nlog-own-${shortdate}.log"
				layout="[${longdate}] [${event-properties:item=EventId_Id}] [${uppercase:${level}}] [${logger}] [url: ${aspnet-request-url}] [action: ${aspnet-mvc-action}] ${message} ${exception:format=tostring}" />

		<!-- 用于记录所有 -->
		<target xsi:type="File" name="seriousfile" fileName="${basedir}/logs/nlog-serious-${shortdate}.log"
				layout="[${longdate}] [${event-properties:item=EventId_Id}] [${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring}" />
		
		<!--layout="${customer-ip} ${customer-method} ${customer-path} ${customer-bytes} ${customer-duration}"-->
		<!-- 分发日志到Logstash 集成ELK -->
		<target xsi:type="Network" name="logstash_apiinsight" keepConnection="false" 
				layout="[${longdate}] [${event-properties:item=EventId_Id}] [${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring}"
				address ="tcp://47.97.101.104:4560/" />
	</targets>


	<rules>
		<!-- 将日志框架分发的所有日志消息记录到文件:allfile -->
		<logger name="Microsoft.*" minlevel="Trace" writeTo="allfile" />
		<logger name="System.*" minlevel="Trace" writeTo="allfile" />

		<!-- 将日志框架分发的当前web程序中的日志记录到文件:ownFile-web -->
		<logger name="NLog_Trial.*" minlevel="Trace" writeTo="ownFile-web" />

		<!-- 将日志框架分发的Warning级别以上的日志记录到文件:seriousfile -->
		<logger name="*" minlevel="Warning" writeTo="seriousfile" />
		
		<!-- 将日志框架分发的Trace级别以上的日志记录到logstash -->
		<logger name="DataService.HostApi.*" minlevel="Trace" writeTo="logstash_apiinsight" />
	</rules>
</nlog>